@media(max-width: 575px){
    /* Inicio header */
    .cabecera{
        background-color: #da8b6f;
        padding-bottom: 1em;
    }
    .cabecera-titulo{
        color: white;
        text-align: right;
        padding: 1em .8em;
    }
    .cabecera-titulo div h1{
        font-size: 1.3em;
    }
    .cabecera-titulo div p{
        font-size: .7em;
    }
    .cabecera-imagen div{
        background-image: url(../assets/images/uno.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 350px;
    }
    /* Fin header */
    /* Inicio seccion1 */
    .seccion1{
        background-color: #b1d794;
    }
    .seccion1-contenido{
        background-color: #da8b6f;
        margin: 2em 5em;
        padding: 1.5em;
    }
    .seccion1-contenido h1{
        color: white;
        font-size: 1.2em;
    }
    .seccion1-contenido p{
        color: white;
        font-size: .9em;
    }
    /* Fin seccion1 */
}
@media(min-width: 576px) and (max-width: 767px){
    /* Inicio header */
    .cabecera{
        background-color: #da8b6f;
        padding-bottom: 1em;
    }
    .cabecera-titulo{
        color: white;
        text-align: right;
        padding: 1.3em 1em;
    }
    .cabecera-titulo div h1{
        font-size: 1.5em;
    }
    .cabecera-titulo div p{
        font-size: .9em;
    }
    .cabecera-imagen div{
        background-image: url(../assets/images/uno.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
    }
    /* Inicio header */
    /* Inicio seccion1 */
    .seccion1{
        background-color: #b1d794;
    }
    .seccion1-contenido{
        background-color: #da8b6f;
        margin: 3em 8em;
        padding: 1.5em;
    }
    .seccion1-contenido h1{
        color: white;
        font-size: 1.2em;
    }
    .seccion1-contenido p{
        color: white;
        font-size: .9em;
    }
    /* Fin seccion1 */
}
@media(min-width: 768px) and (max-width: 991px){
    /* Inicio header */
    .cabecera{
        background-color: #da8b6f;
        padding-bottom: 1em;
    }
    .cabecera-titulo{
        color: white;
        text-align: right;
        padding: 1.5em 1.2em;
    }
    .cabecera-titulo div h1{
        font-size: 1.7em;
    }
    .cabecera-titulo div p{
        font-size: 1.1em;
    }
    .cabecera-imagen div{
        background-image: url(../assets/images/uno.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 450px;
    }
    /* Inicio header */
    /* Inicio seccion1 */
    .seccion1{
        background-color: #b1d794;
    }
    .seccion1-contenido{
        background-color: #da8b6f;
        margin: 5em 15em;
        padding: 1.5em;
    }
    .seccion1-contenido h1{
        color: white;
        font-size: 1.4em;
    }
    .seccion1-contenido p{
        color: white;
        font-size: 1.1em;
    }
    /* Fin seccion1 */
}
@media(min-width: 992px) and (max-width: 1199px){
    /* Inicio header */
    .cabecera{
        background-color: #da8b6f;
        padding-bottom: 1em;
    }
    .cabecera-titulo{
        color: white;
        text-align: right;
        padding: 1.7em 1.4em;
    }
    .cabecera-titulo div h1{
        font-size: 1.9em;
    }
    .cabecera-titulo div p{
        font-size: 1.3em;
    }
    .cabecera-imagen div{
        background-image: url(../assets/images/uno.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 550px;
    }
    /* Inicio header */
    /* Inicio seccion1 */
    .seccion1{
        background-color: #b1d794;
    }
    .seccion1-contenido{
        background-color: #da8b6f;
        margin: 5em 22em;
        padding: 1.5em;
    }
    .seccion1-contenido h1{
        color: white;
        font-size: 1.4em;
    }
    .seccion1-contenido p{
        color: white;
        font-size: 1.1em;
    }
    /* Fin seccion1 */
}
@media(min-width: 1200px){
    /* Inicio header */
    .cabecera{
        background-color: #da8b6f;
        padding-bottom: 1em;
    }
    .cabecera-titulo{
        color: white;
        text-align: right;
        padding: 1.9em 1.6em;
    }
    .cabecera-titulo div h1{
        font-size: 2.1em;
    }
    .cabecera-titulo div p{
        font-size: 1.5em;
    }
    .cabecera-imagen div{
        background-image: url(../assets/images/uno.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 650px;
    }
    /* Inicio header */
    /* Inicio seccion1 */
    .seccion1{
        background-color: #b1d794;
    }
    .seccion1-contenido{
        background-color: #da8b6f;
        margin: 10em 32em;
        padding: 1.5em;
    }
    .seccion1-contenido h1{
        color: white;
        font-size: 1.4em;
    }
    .seccion1-contenido p{
        color: white;
        font-size: 1.1em;
    }
    /* Fin seccion1 */
}